*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
main.pdf
*.run.xml
*.toc
*.xmpi
svg-inkscape/
*.acn
*.acr
*.alg
*.bbl-SAVE-ERROR
*.cb
*.cb2
*.glg
*.glo
*.gls
*.ist
*.synctex.gz
*.synctex.(busy)
"main.synctex(busy)"
*.upa